{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- custom base CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>Growy | {% block title %}{% endblock title %}</title>
    <style>{% block style %}{% endblock style %}</style>

  </head>
  <body>

<nav class="navbar navbar-expand-md" style="background-color: #7951c9;">
    <a class="navbar-brand" href="/">Growy</a>
    <button class="navbar-toggler d-lg-none bg-light" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-4 ml-auto mt-2 mt-lg-0 access_links">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services">services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#packages">packages</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 access_btns">
          <a href="/login" class="btn btn-light my-2 my-sm-0" >Get Paid</a>
          <a href="/connect" class="btn btn-light ml-3">Order Now</a>
        </form>
    </div>
</nav>

{% block body %}{% endblock body %}

 <footer class="mt-5">
      <div style="width: 100%; height: 20rem; background-color: #7951c9;" class="mt-5">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="pl-3">
                <div class="container mt-2 d-flex justify-content-center mr-5" style="width: 100%; height: 100%; background-color: white; border-radius: 60%;">
                    <a class="navbar-brand text-center pl-2" style="font-size: 30px; color: #7951c9;" href="#">Growvy</a>
                </div>
            </div>
         
           
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto" style="margin-left: 60%;">
                <li class="nav-item active pr-5">
                  <a class="nav-link text-white pr-5" style="font-size: 20px;" href="#">Service</a>
                </li>
                <li class="nav-item active pr-5">
                  <a class="nav-link text-white pr-5" style="font-size: 20px;" href="#">FAQs</a>
                </li>
                <li class="nav-item active pr-5">
                    <a class="nav-link text-white" style="font-size: 20px;" href="#">Privacy policy</a>
                  </li>
        
              
              </ul>
             
            </div>
          </nav>

          <div class="d-flex justify-content-center text-white mt-5 pt-4">
              <h3 class="mt-5 pt-5">Growy | All Rights Reserved @2021-2022</h3>
          </div>
      </div>
  </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>